.Aboutus{
    font-family: 'Poppins', sans-serif;
font-weight: 400;
display: flex;
gap: 40px;
margin-top: 10px;
color: whitesmoke;
}

.Aboutus:hover{
color: rgb(19, 12, 12);
}

body{
    margin: 0px;
}

.display{
    color: white;
    background-color: rgb(85, 165, 85);
    display: flex;
    margin-top: 10px;
gap: 600px;

    
}
.display1{
    color: white;
display: flex;
padding: 10px;
gap: 50px;
margin-left: 180px;    
}

.selection{
    background-color:  white;
    color: rgb(7, 5, 5);
}
 .selectiontool{
    background-color: rgb(85, 165, 85);
    color: rgb(247, 240, 240);
     border: 0px;
}

@media screen and (min-width: 375px) {
  .display{
    color: white;
    background-color: rgb(85, 165, 85);

   
} 
    
}