.flexible{
    margin-top: 40px;
    
}
.container1{
    display: flex;
    margin-left: 50px;
    overflow: hidden;
    font-family: 'Trebuchet MS';
   
   
}
.watchwid2{
    width: 230px;
    height: 180px;
    object-fit: contain;   
    display: block;
    margin: 0 auto;
    margin-left: 20px;
}



.nonsliderimg{
padding: 30px;


}
.color1{
    color: orange;
  
}
.ratings{
    margin-top: 30px;
        margin-left: 30px;
}