.cart-container {
  width: 65%;
  margin: 120px auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

.cart-img {
  width: 60px;
}

.qty-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.256);
  width: 130px;

}

.qty-box button {
 background-color: white;
 border: none;
}

.clear-btn {
  margin-top: 20px;
  padding: 10px 20px;
  border: 1px solid green;
    color:#42812f;
    border-radius: 7px;
}
.clear-btn:hover{
     background-color:  #42812f;
    color: white;
    border: none;
    transition: 0.5s;
}

.cart-total {
  margin-top: 40px;
  width: 300px;
}

.checkout-btn {
  margin-top: 10px;
  padding: 10px 20px;
  border: 1px solid green;
    color:#42812f;
    border-radius: 7px;
}

.checkout-btn:hover{
       background-color:  #42812f;
    color: white;
    border: none;
    transition: 0.5s;
}

.subtotal td{
    text-align:start;
    border: 1px solid rgba(23, 22, 22, 0.397);
}