.flexing{
    display: flex;
    gap: 560px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}
.decor1{
    border: 10px solid green;
    background-color: green;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}
.itemss{
    color: grey;
}
.prodimg {
 
  background-repeat: no-repeat;
  height: 400px;
  border-radius: 12px;
  width: 400px;

}

 .flexx {
display: flex;
}
.prodimg {
  padding: 20px;
  width: 280px;
  border-radius: 12px;
  color: #333;
}

.itemss {
  margin-bottom: 6px;
  font-size: 14px;
}


        