.loconame{
 margin-left: 450px;   
 margin-bottom: 30px; 
 width: 130px;
}
.footerprop{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 13px;

}
.footerprop:hover{
color: green;
font-size: 15px;
cursor: pointer;
}
.footerflex{
    display: flex;
    gap: 30px;
   margin-left: 140px;
}
.margintop{
    padding-top: 120px;
    padding-left: 120px;
    padding-right: 120px;
    background-color: rgb(226, 231, 236);
}
.grey{
width: 20px;
color: rgb(182, 173, 173);
}
.grey:hover{
background-color: grey;
}

.icons:hover{
border: 1px solid green;
border-radius: 50%;
width: 30px;
cursor: pointer;
height: 30px;
color: grey;
}

.locols{
    display: flex;
    gap: 30px;
    margin-left: 440px;
    margin-top: 30px;
}
.smallsize{
    color: grey;
    font-size:  12px;
    margin-top: 120px;
    margin-left: 400px;
    padding: 10px;
   cursor: pointer;

}

.smallsize:hover{
    color: green;
    
   cursor: pointer;
}