body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
font-weight: 500;
}
.flex1{
    margin-left: 50px;
    margin-top: 5px;
    gap: 130px;
    cursor: pointer;
    display: flex;
}
.logo{
    width: 110px;
    height: 50px;
}
.flex2{
    display: flex;
    gap: 40px;
    margin-top: 20px;
    border: 0px;
}
.selectiontool1{
        color: rgb(10, 8, 8);
     border: 0px;
}
.text{
    border-radius: 10px;
    border: 0px;
}