body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
font-weight: 500;
}
.flex1{
    margin-left: 50px;
    margin-top: 5px;
    gap: 280px;
    cursor: pointer;
    display: flex;

 
}


.nav-item {
  position: relative;
}


/* dropdown box */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 190px;
  padding: 10px 0;
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
  display: none;
  z-index: 999;
}

/* KEEP OPEN when hovering */
.dropdown:hover .dropdown-menu {
  display: block;
}

/* items */
.dropdown-menu li {
  padding: 10px 10px;
}

.dropdown-menu li:hover {
  background: #f3f3f3;
}

.dropdown-menu a {
  text-decoration: none;
  color: #000;
  display: block;
}


.bag{
    gap: 60px;
    display: flex;
}


.logo{
    width: 110px;
    height: 50px;
}
.flex2{
    display: flex;
    margin-right: 30px;
    gap: 30px;
    
}
.hoverperson{
color: black;
}
.hoverperson:hover{
width: 20px;
height: 20px;

}

.hoverheart{
color: black;
}
.hoverheart:hover{
width: 20px;
height: 20px;

}


.hoverbag{
color: black;
}
.hoverbag:hover{
width: 20px;
height: 20px;

}



.linkblack{
     text-decoration: none;
    color: black;
}
.gap1{
   margin-left: 20px;
}
.selectiontool1{
        color: rgb(10, 8, 8);
     border: 0px;
 border-radius: 10px;
height: 30px;
}

