.flexings{
    display: flex;
    gap: 10px;
    margin-top: 40px;
    margin-left: 40px;
    overflow: hidden;
    justify-content: center;
    margin-bottom: 40px;
}
.cardteam{
    width: 400px;
}
.divlenght{
    width: 450px;
}
.classyleght{
    margin-top: 30px;
}