.dis-items {
  display: flex;
  gap: 30px;
  margin-top: 30px;
  max-width: 100vw; 

   padding-right: 15px;
}

.dsply {
  display: flex;
  justify-content: space-evenly;
  margin-left: 190px;
  align-items: center;
  margin-top: 40px;
  
}



.dsply-1 {
  display: flex;
  gap: 20px;
  list-style: none;
  
}

/* Banner */
.fresh-img {
  width: 330px;
  height: 450px;
  border-radius: 12px;
  padding: 30px;
  color: #fff;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.fresh-img h3 {
  font-size: 32px;
}

/* Slider */
.slick-slider {
  flex: 1 1 auto;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.main-products {
  
  padding: 10px;
  text-align: center;
  position: relative;
  
  
}

.main-products img{
 margin-left: 45px;
}

.badge {
  position: absolute;
  top: 20px;
  left: 65px;
  background: #6aa84f;
  color: #fff;
  font-size: 12px;
}

.main-products h6 {
  color: green;
}

.stars {
  color: orange;
  font-size: 16px;
}

/* Category */
.viewall {
  cursor: pointer;
  color: #777;
}

.viewall.active {
  color: green;
  font-weight: bold;
}

/* Arrows */
.arrow-box button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
  margin-left: 15px;
  padding:  0px 9px 0px;
  
}

.arrow-box button:hover {
  background: green;
  color: #fff;
}


.image-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image */
.watch-img {
  width: 250px;
  height: 250px;
  padding: 20px;
  background: #f3f3f3;
  transition: 0.3s ease;
}

/* Dim image on hover */
.image-wrapper:hover .watch-img {
  opacity: 0.7;
}

/* ICON CONTAINER */
.hover-icons {
  position: absolute;
  bottom: 20px;
  left: 55%;
  transform: translateX(-50%);
  display: flex;
  gap: 15px;
  opacity: 0;
  transition: 0.3s ease;
}

/* Show on hover */
.image-wrapper:hover .hover-icons {
  opacity: 1;
}

/* CIRCLE STYLE */
.icon-circle {
  width: 45px;
  height: 45px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Hover effect */
.icon-circle:hover {
  background:  #42812f;
  color: #fff;
  transform: translateY(-5px);
}